@media (max-width: 768px) {
  .search-results-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 0.1fr));
    grid-gap: 10px;
    max-height: 640px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 80vh;
    width: 2000px;
    margin-left: 500px;
    margin-top: 70px;
    color: #FFFFFF;
    font-family: 'Gotu', sans-serif;
    letter-spacing: -1px;
  }
}


.search-results-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 0.1fr));
  grid-gap: 10px;
  max-height: 640px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 80vh;
  width: 2000px;
  margin-left: 500px;
  margin-top: 70px;
  color: #FFFFFF;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
}

.search-results-msg-and-spinner{
  top: 190px;
  left: 260px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  font-size: 16px;
  width: 110px;
  height: 110px;
  position: fixed;
  color: #FFFFFF;
  padding: 10px; 
}