@media (max-width: 768px) {

  .single-page-pet-card {
    width: 90%;
    padding: 10px;
  }

  .single-pet-page-card-title {
    font-size: 1.5rem;
  }
}

.single-pet-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../styles/backgrounds/single-pet-page-background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.single-page-pet-card {
  top: 50px;
  width: 90%;
  max-width: 600px;
  height: 80%;
  border: none;
  border-radius: 0.25rem;
  background-color: #D9C5C1;
  box-shadow: 0 2px 4px rgba(140, 78, 55, 0.1);
  color: #401E12;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  text-shadow: 0 2px 4px rgba(140, 78, 55, 0.1);
  margin: 10px;
  padding: 20px;
}

.card-content,
.card-title,
.card-text {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.single-page-card-title {
  font-size: 40px !important;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

.left-content {
  flex: 1;
}

.btn-secondary {
  margin-right: 10px;
}

.single-pet-card-container {
  display: flex;
  justify-content: center;
}

.single-page-pet-card {
  width: 80%;
  margin-top: 20px;
}

.single-pet-card-fields-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
}

.pet-picture-and-btns-container{
  display: inline;
}

.single-page-pet-card {
  width: 100%;
}

.pet-picture-and-info-container {
  display: grid;
  align-items: flex-start;
}

.pet-buttons {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

.single-page-card-title{
  margin-left: 45%;
  margin-top: -200px;
}

.single-page-card-bio{
  margin-left: 45%;
  margin-top: -130px;
  border: none;
  letter-spacing: -1px;
}

.pet-page-btn{
  border-radius: 50%;
  border: none;
  width: 70px;
  height: 70px;
  font-size: 16px;
  text-shadow: 0 2px 4px #401E12(0, 0, 0, 0.1);
  background-color: transparent;
  box-shadow: 0 2px 0px #87152a;
  color: #87152a;
  letter-spacing: -1px;
}

.pet-page-btn:hover {
  background: radial-gradient(circle at 60px 20px, #D9D0D2, #d9c5c1);
}


@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}

.like-btn-singlepage{
  margin-top: 15px;
  margin-left: 480px;
  position: absolute;
  background-color: transparent;
  background-size: 1px !important;
  border: none;
  padding-right: 40px;
}

.alert-single-pet-page{
border: none;
border-radius: 0.25rem;
background-color: #f5efee;
box-shadow: 0 2px 4px #8c4e37;
color: #401e12;
font-family: 'Gotu', sans-serif;
letter-spacing: -1px;
text-shadow: 0 2px 4px #8c4e37 (0, 0, 0, 0.1);
font-size: 1rem;
position: absolute;
top: 60px;
opacity: 0.7 !important;
}

.single-pet-page-spinner{
  margin: 0, auto;
}

.pet-already-has-home-message{
  border-radius: 0.25rem;
  padding: 5px;
  border: solid 1px #c9ada7;
  color: #87152a;
  text-align: center; 
}