@media (max-width: 768px) {
  .they-need-your-love {
    font-size: 14px !important;
    top: 350px !important;
    left: 60px !important;
    font-family: 'Gotu', sans-serif;
    color: #593202;
    letter-spacing: -1px;
    text-wrap: wrap;
    width: 80px !important;
    position: absolute;
  }
}

.my-pets-page-container {
  background: linear-gradient(to bottom, #837364, #D7C3B8);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.my-pets-liked, 
.my-pets-adopted,
.my-pets-fostered{
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  text-align: flex-start;
  font-size: 1.4rem;
  color: #FFFFFF;
  top: 160px;
  position: absolute;
  margin-left: 50px;
}

.my-pets-fostered{
  margin-left: 625px;
}

.my-pets-adopted{
  margin-left: 1200px;
}

.my-pets-lists-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  flex-direction: column;
  margin-left: 100px;
  width: 80vw;
}

.pets-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px
}

.pets-list.liked,
.pets-list.fostered,
.pets-list.adopted {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 0.4fr));
  gap: 0px;
  width: 500px;
  height: 72vh;
  overflow-y: auto;
  max-height: calc(100vh - 160px); 
  margin-left: 50px;
}

.pets-list.liked{
  top: 200px;
  position: absolute;
}

.pets-list.fostered{
  top: 200px;
  margin-left: 625px;
  position: absolute;
}

.pets-list.adopted{
  top: 200px;
  margin-left: 1200px;
  position: absolute;
}

.pet-card {
  width: 100%;
}

.msg-if-no-pets {
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  text-align: center;
  font-size: 1.2rem;
  color: #593202;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.msg-if-no-pets p {
  margin-bottom: 10px;
}


.they-need-your-love{
  margin: 240px auto;
  margin-left: 100px;
  width: 200px;
  z-index: 100;
}

.mypets-page-petsfeed-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80vw;
  margin: 0 auto;
  height: fit-content;
}

.liked, .fostered, .adopted{
  border-radius: 0.25rem;
  justify-content: center;
  z-index: 1;
}
