@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #837364;
  --secondary: #a49085;
  --accent: #a72d66;
  --light:#efdede;
  --dark: #392222;
  --font-header: "Archivo", "serif";
  --font-body: "Archivo", "sans-serif";
  --border-radius: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body), sans-serif;
  background-color: var(--secondary);
  cursor: none;
}

.cursor-dot,
.cursor-tail {
  position: fixed;
  background-color: var(--light); 
  z-index: 10000;
  mix-blend-mode: difference;
  pointer-events: none;
  border-radius: 50%;
  transition: transform 0.1s ease;
}

.cursor-tail {
  width: 12px;
  height: 12px;
}

.cursor-dot {
  padding: 1rem;
  transition: transform 0.001s ease;
}


.welcome-page-container, .fav-pets-page-container, .profile-page-container {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.welcome-page-container {
  background-image: url('./backgrounds/welcome-page-background.jpg');
}

.fav-pets-page-container {
background-image: url('./backgrounds/fav-page-background.jpg');
}

.profile-page-container {
  background-image: url('./backgrounds/profile-page-background.jpg');
    
}