@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

:root {
  --primary: #a25579;
  --secondary: #a49085;
  --accent: #a72d66;
  --light:#efdede;
  --dark: #392222;
  --font-body: "Darker Grotesque", "serif";
  --border-radius: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body), serif;
  background-color: var(--secondary);
  cursor: none;
}

.cursor-dot,
.cursor-tail {
  position: fixed;
  background-color: var(--light); 
  z-index: 10000;
  mix-blend-mode: difference;
  pointer-events: none;
  border-radius: 50%;
  transition: transform 0.1s ease;
}

.cursor-tail {
  width: 12px;
  height: 12px;
}

.cursor-dot {
  padding: 1rem;
  transition: transform 0.001s ease;
}


.welcome-page-container, 
.fav-pets-page-container, 
.profile-page-container {
  background-size: auto 70%;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .welcome-page-container, 
  .fav-pets-page-container, 
  .profile-page-container {
    background-size: auto 30%; 
  }
}


.welcome-page-container {
  background-image: url('./backgrounds/welcome-page-background.png');
}

.fav-pets-page-container {
background-image: url('./backgrounds/fav-page-background.png');
}

.profile-page-container {
  background-image: url('./backgrounds/profile-page-background.png');
    
}