@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root {
  --primary: #a25579;
  --secondary: #b29b8f;
  --accent: #a72d66;
  --light:#fff2f2;
  --dark: #392222;
  --font-body: "Darker Grotesque", "serif";
  --border-radius: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body), serif;
  background-color: var(--secondary);
}

.welcome-page-container, 
.fav-pets-page-container, 
.profile-page-container,
.home-page-container {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
}

.welcome-page-container {
  background-image: url('https://res.cloudinary.com/nkwjho4xf/image/upload/v1741190671/pet-adoption/welcome-page-background_jirxwu.jpg');
}

.home-page-container {
  background-image: url('https://res.cloudinary.com/nkwjho4xf/image/upload/v1743450799/pet-adoption/medium-shot-woman-holding-meerkat_1_nbc3fk.jpg');
}

.fav-pets-page-container {
  background-image: url('https://res.cloudinary.com/nkwjho4xf/image/upload/v1741191743/pet-adoption/2150747649_mg03mc.jpg');

}

.profile-page-container {
  background-image: url('https://res.cloudinary.com/nkwjho4xf/image/upload/v1741190670/pet-adoption/profile-page-background_bbs3ww.jpg'); 
}

.single-pet-card-container{
  background-image: url('https://res.cloudinary.com/nkwjho4xf/image/upload/v1741190670/pet-adoption/single-pet-page-background_kirjzl.jpg');
}

@media (max-width: 1000px) {
  .welcome-page-container, 
  .fav-pets-page-container,
  .profile-page-container {
    background-image: none; 
  }
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-modal .modal-content {
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-modal .modal-header {
  border-bottom: none;
  font-size: 18px;
}

.custom-modal .modal-footer {
  border-top: none;
  display: flex;
  justify-content: space-between;
}

.custom-modal .btn-secondary {
  background-color: #6c757d;
  border-radius: 8px;
  padding: 10px 20px;
}

.custom-modal .btn-danger {
  background-color: #dc3545;
  border-radius: 8px;
  padding: 10px 20px;
}