.search-button {
  position: absolute;
  font-family: 'Gotu', sans-serif;
  border: none;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -2px;
  text-shadow: 0 2px 4px #401E12(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px #401E12;
  z-index: 100;
  padding: 20px;
  top: 450px;
  left: 300px;
  transition: transform 0.3s ease;
  background: radial-gradient(circle at 60px 20px, #e4a2ab, #a72c43);
}


@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.search-button:hover {
    animation: jump 0.8s infinite; 
}