@media screen and (max-width: 768px) {
  .welcome-page-container {
    padding: 20px;
  }

  .welcome-text {
    margin-top: 50px;
    font-size: 14px !important;
    line-height: 1.1 !important;
    width: 100px !important;
  }

  .welcome-page-allpetsfeed-container {
    width: 100%;
    flex-direction: column;
  }
}

.welcome-page-container {
  position: absolute;
  background: url('../../styles/backgrounds/welcome-page-background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.welcome-text {
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  margin: 200px 0 100px 150px;
  width: 320px;
  font-size: 1.2rem;
  color: #593202;
}

.welcome-page-petsfeed-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 610px;
  height: fit-content;
  margin: -320px 50px 20px 60%;
}

.text-petsfeed-container{
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  width: 400px;
  font-size: 1.2rem;
  color: #593202;
  margin: -30px 50px 0 0;
  position: absolute;
}
