@media screen and (max-width: 768px) {
  .welcome-page-container {
    padding: 20px;
    align-items: center; 
    background: 
    linear-gradient(to bottom, #837364, #D7C3B8) !important; 
  }

  .welcome-text {
    margin: 50px auto; 
    font-size: 14px !important;
    width: 100px !important; 
    text-align: left; 
    position: absolute;
    top: 50px !important;
    left: -90px !important;
  }

  .welcome-page-petsfeed-container {
    width: 50% !important; 
    margin: 20px 0; 
  }

  .text-petsfeed-container {
    margin: 20px auto; 
    width: 50px !important; 
    position: static; 
    top: 490px;
    left: 60px !important;
    font-size: 14px !important;
  }
}

.welcome-page-container {
  position: absolute;
  background: url('../../styles/backgrounds/welcome-page-background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.welcome-text {
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  margin: 200px 0 100px 150px;
  width: 320px;
  font-size: 1.2rem;
  color: #593202;
}

.welcome-page-petsfeed-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 610px;
  height: fit-content;
  margin: -320px 50px 20px 60%;
}

.text-petsfeed-container{
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  width: 400px;
  font-size: 1.2rem;
  color: #593202;
  margin: -30px 50px 0 0;
  position: absolute;
}
