.page-not-found{
    position: absolute;
    background: url('../../styles/backgrounds/page-not-found.jpg') right no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.page-not-found-text{
    font-family: 'Gotu', sans-serif;
    letter-spacing: -1px;
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 100px;
    width: 400px;
    font-size: 1.2rem;
    color: #593202;
}